@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@300;400;700;900&display=swap');

body {
	background: url("/static/quiz/img/bubbles.jpg") 100% 0 no-repeat fixed;
	font-family: 'Poppins', sans-serif;
}

.not-visible {
	display: none;
}

/* Navbar */
.navbar {
  background: #e3f2fd;
  opacity: 0.8;
}
.nav-link {
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid #eeaeca;
}

.navbar > div {
	font-family: 'Orbitron', sans-serif;
}

/* Home view */
.card {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,219,222,1) 0%, rgba(252,252,252,1) 100%);
	opacity: 0.9;
	transition: .5s ease;
	min-width:13rem;
}

.card-header {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.1rem;
}

.card:hover {
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,223,233,1) 100%);
	opacity: 1;
	transform: scale(1.2);
}

/* Result view */
.result-table {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,219,222,1) 0%, rgba(252,252,252,1) 100%);
  opacity: 0.9;
}

/* Question page */
.time-left {
  color: #eaf6f6;
  background: #f76b8a;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: 'Anonymous Pro', monospace;
}
#quiz-box {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,219,222,1) 0%, rgba(252,252,252,1) 100%);
	font-family: 'Anonymous Pro', monospace;
	padding-left: 20px;
}

#quiz-box > div {
	padding: 8px 0;
}

.answer {
	margin: 8px;
}

.checked-msg {
	font-style: italic;
}

/* Login and Register form */
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 540px;
  background: linear-gradient(90deg, rgba(102,191,191,1) 0%, rgba(190,223,230,1) 100%);
}

.form-holder > div{
	font-family: 'Poppins', sans-serif;
	color: white;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-items a:link {
  color: #f76b8a; 
  background: transparent; 
  text-decoration: none;
}

/* Button */
.btn-info:hover {
  color: #eaf6f6;
}

.btn-outline-light {
  color: #eaf6f6;
  background: #f76b8a;
  opacity: 0.9;
  border: none !important;
}

.btn-outline-light:hover {
	color: #f76b8a;
  background: #eaf6f6;
  border: none !important;
}

.btn-light:hover {
  color: #eaf6f6;
  background: #f76b8a;
  border: 1px solid #f76b8a !important;
}

/* Pagination */
.pagination > li > a
{
    background: white;
    color: #f76b8a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background: #eee;
    border-color: #ddd;
}

.pagination > .active > span
{
    color: white;
    background: #f76b8a !Important;
    border: solid 1px #f76b8a !Important;
}

.pagination > .active > span:hover
{
    background: #f76b8a !Important;
    border: solid 1px #f76b8a;
}