{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
  <script src="{% static 'quiz/main.js' %}" defer></script>
{% endblock %}


{% block title %}
Quiz List
{% endblock %}

{% block page-title %}
Quiz List
{% endblock %}

{% block content %}

<div class="container" id="quiz-list-view">

  {% if user.is_authenticated %}
    <!-- Button trigger create quiz modal -->
    <button type="button" class="btn btn-outline-light mb-2" data-bs-toggle="modal" data-bs-target="#createQuiz">
    create quiz
    </button>
  {% endif %}

  <div class="row row-cols-1 row-cols-md-3 g-4" id="quiz-card">

    {% for obj in objects %}
    
    <!-- Card -->
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-header text-center">{{obj.quiz_title}}</div>
            <div class="card-text text-left">
              <dl>
                <dt>Number of questions</dt>
                <dd id="numq-card-{{obj.id}}">{{obj.number_of_question}}</dd>
                <dt>Duration</dt>
                <dd>{{obj.time}} min(s)</dd>
                <dt>Created by</dt>
                <dd>{{obj.created_by}}</dd>
              </dl>
            </div>

            <!-- Button trigger each quiz start modal -->
            <button
              type="button"
              class="btn btn-info modal-button start-modal" 
              data-pk="{{ obj.pk }}"
              data-quiz="{{ obj.quiz_title }}"
              data-bs-toggle="modal" 
              data-bs-target="#quizStartModal"
            >
            start
            </button>
            {% if request.user == obj.created_by %}
              <button
              type="button"
              class="btn btn-outline-success modal-button add-modal" 
              data-pk="{{ obj.pk }}"
              data-quiz="{{ obj.quiz_title }}"
              data-bs-toggle="modal" 
              data-bs-target="#addQuestion"
              >
              add
              </button>
            {% endif %}
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">{{obj.topic}}</small>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>


<!-- Create quiz modal -->
<div class="modal fade" id="createQuiz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create quiz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="quiz-form">
          {% csrf_token %}
          {{ form1|crispy }}
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">close</button>
            <button type="submit" class="btn btn-info">create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Quiz start modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you ready to start?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">no</button>
        <button type="button" id="start-button" class="btn btn-info">yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Add question modal -->
<div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-form" data-form-id="">
          {% csrf_token %}
          {{ form2|crispy }}
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">close</button>
            <button type="submit" class="btn btn-info">add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}

