{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'quiz/main.js' %}" defer></script>
{% endblock %}


{% block title %}
Quiz List
{% endblock %}

{% block page-title %}
Quiz List
{% endblock %}

{% block content %}

<div class="container" id="quiz-list-view">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for obj in objects %}

    <!-- Button trigger modal -->
    <!-- Card -->
    <button
      type="button"
      class="btn modal-button text-left" 
      data-pk="{{ obj.pk }}"
      data-quiz="{{ obj.quiz_title }}"
      data-bs-toggle="modal" 
      data-bs-target="#quizStartModal"
    >
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-header">{{obj.quiz_title}}</div>
            <div class="card-text text-left">
              <dl>
                <dt>Number of questions</dt>
                <dd>{{obj.num_of_question}}</dd>
                <dt>Duration</dt>
                <dd>{{obj.time}} min(s)</dd>
                <dt>Created by</dt>
                <dd>{{obj.created_by}}</dd>
              </dl>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{obj.topic}}</small>
          </div>
        </div>
      </div>
    </button>

    {% endfor %}
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you ready to start?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
        <button type="button" id="start-button" class="btn btn-info">yes</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
  <div class="modal fade" id="addQuiz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create quiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="quiz-form">
            {% csrf_token %}
            {{ form1.as_p }}
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
              <button type="submit" class="btn btn-success">+ add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#addQuiz">
    add quiz
  </button>





  <!-- Modal -->
  <!-- <div class="modal fade" id="addQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="post-form">
            {% csrf_token %}
            {{ forms.question.as_p }}
            
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">close</button>
              <button type="submit" class="btn btn-success">+ add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#addQuestion">
    add post
  </button> -->
 


{% endblock %}

