{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block page-title %}
Login
{% endblock %}

{% block content %}


<div class="form-body">
	<form method="POST">
		<div class="form-holder">
			<div class="form-content">
				<div class="form-items">
					<h3>Login</h3>
					{% csrf_token %}
					<div class="form-group mb-3">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group mb-5">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<button class="btn btn-outline-light mb-3">Login</button>
					<br>
					<div>Not Registered? Sign Up <a href="{% url 'register' %}"> Here...</a></div>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}