{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block page-title %}
Login
{% endblock %}

{% block content %}


<div class="form-group text-white">
	<form method="POST">
		{% csrf_token %}
		<div class="form-group mb-3">
			<input type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<div class="form-group mb-5">
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>
		<button class="btn btn-secondary">Login</button>
		<br>
		Not Registered? Sign Up <a href="{% url 'register' %}">Here...</a>
	</form>
</div>


{% endblock %}