{% extends 'quiz/base.html' %}

{% block title %}
Register
{% endblock title %}

{% block page-title %}
Register
{% endblock %}

{% block content %}


<div class="form-body">
	<form method="POST">
		<div class="form-holder">
			<div class="form-content">
				<div class="form-items">
					<h3>Register</h3>
					{% csrf_token %}
					<div class="form-group mb-3">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
					<div class="form-group mb-3">
						<input type="password" class="form-control" name="password1" placeholder="Password">
					</div>
					<div class="form-group mb-5">
						<input type="password" class="form-control" name="password2" placeholder="Password confirmation">
					</div>
					<button class="btn btn-outline-light mb-3">Register</button>
					<br>
					<div>Already Registered? Login <a href="{% url 'login' %}"> Here...</a></div>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}