@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

body {
	background: url("/static/img/bubbles.jpg") 100% 0 no-repeat fixed;
	font-family: 'Orbitron', sans-serif;
}

.not-visible {
	display: none;
}

/* Navbar */
.nav-link {
  border-bottom: 5px solid transparent;
}

.nav-link:hover {
  border-bottom: 5px solid blue;
}

/* Quiz-list page*/
.card {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,219,222,1) 0%, rgba(252,252,252,1) 100%);
	opacity: 0.9;
	transition: .5s ease;
	min-width:13rem;
}

.card-header {
	font-size: 1.3rem;
}

.card:hover {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	color: beige;
	transform: scale(1.2);
}

/* Question page*/
#quiz-box {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,219,222,1) 0%, rgba(252,252,252,1) 100%);
	font-family: 'Ubuntu', sans-serif;
	padding-left: 20px;
}

#quiz-box > div {
	padding: 8px 0;
}

.answer {
	margin: 8px;
}

.checked-msg {
	font-style: italic;
}