{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<!-- jquery -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

	<!-- Custom css -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- Custom js -->
	<script src="{% static 'functions.js' %}" defer></script>
	{% block scripts %}
	{% endblock %}

	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container mt-3">
		<div class="h1 page-title">Manabit | {% block page-title %}{% endblock %}</div>
		<hr>
		{% block content %}
		{% endblock %}
	</div>

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>